<launch>
		<rosparam file="$(find balrog_sim)/param/ros.yaml"/>

    <!-- launch the simulator: -->
    <include file="$(find balrog_sim)/launch/simulator.launch"></include>

    <!-- run OpenKarto: -->
		<node name="Mapper" pkg="nav2d_karto" type="mapper" output="screen" launch-prefix="gdb -ex run --args">
			<rosparam file="$(find balrog_sim)/param/mapper.yaml"/>
		</node>

    <!-- run slam_visited.py in balrog_sim/python_scripts: -->
    <node pkg="balrog_sim" type="slam_visited.py" name="slam_visited_node"></node>

    <!-- run slam_pose.py in balrog_/python_scripts: -->
    <node pkg="balrog_sim" type="slam_pose.py" name="slam_pose_node"></node>

		<!-- launch manual control: -->
		<include file="$(find balrog_sim)/launch/manual_control.launch"></include>

    <!-- launch the apriltag detection: -->
    <include file="$(find balrog_sim)/launch/tag_detection.launch"></include>

    <!-- start rviz: -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find balrog_sim)/rviz/balrog.rviz"/>
</launch>
