<launch>
		<rosparam file="$(find balrog)/param/ros.yaml"/>

		<node pkg="tf" type="static_transform_publisher" name="footprint_static_tf" args="0 0 0 0 0 0 1 base_footprint base_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="link_static_tf" args="0 0 0 0 0 0 1 base_link laser_frame 100"/>

		<node name="Mapper" pkg="nav2d_karto" type="mapper" output="screen" launch-prefix="gdb -ex run --args">
			<rosparam file="$(find balrog)/param/mapper.yaml"/>
		</node>
</launch>
